@charset "UTF-8";

:root{
    --cor1:#F2F2F2;
    --cor2:#8C8C8C;
    --cor3:#59595957;
    --cor4:#40404042;
    --cor5:#0D0D0D;
    --cor6:#404040;
    --cor7:#595959;



}

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        
header{
    width: 100%;
    background-image: linear-gradient(to right, var(--cor4),var(--cor2),var(--cor3));
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid  rgba(0, 0, 0, 0.425);
    margin-bottom: 50px;
    
}
header h1 {
    color: white;
    margin-bottom: 35px;
}

body{
    background-color: #666666;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}        

#menu{
    text-align: left;
    
    
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 1.2em;
    
    padding: 10px;

}

a:hover{
    background-color: var(--cor2);
    border-radius: 10px;
    color: var(--cor5);
}



p{
    margin: 30px;
    padding-top: 45px;
    max-width: 550px;
    color: white;
    line-height: 1.9em;
    font-size: 1.2em;

}
h1{
    text-align: center;
    padding-top: 15px;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

div{
    text-align: center;
    margin: auto;
}

p {
    margin: auto;
    
}

/* From Uiverse.io by Pravins01 */ 
.card2 {
  position: relative;
  max-width: 600px;
  height: 500px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin-bottom: 50px;
}

.card2::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card2 p:not(.heading) {
  font-size: 14px;
}

.card2 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card2:hover::after {
  filter: blur(30px);
}

.card2:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

#chamada{
  border-radius: 20px;
  color: var(--cor1);
  background-color: rgba(255, 255, 255, 0.116);
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

#chamada:hover{
  background-color: rgba(255, 255, 255, 0.041);
  padding: 30px;
  box-shadow: 3px 3px 50px rgba(255, 255, 255, 0.5);
}
